<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "indexusers" %>
<%= javascript_importmap_tags %>
<main class="users-main">
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 1</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 2</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 3</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 4</h2>
      <p class="number-of-posts">Number of posts: 6</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 5</h2>
      <p class="number-of-posts">Number of posts: 5</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 6</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 7</h2>
      <p class="number-of-posts">Number of posts: 4</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 8</h2>
      <p class="number-of-posts">Number of posts: 3</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 9</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
</main>