<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "showusers" %>
<%= javascript_importmap_tags %>
<div class="user">
  <div class="user-header">
    <div class="user-img-div">
      <img src="https://media.licdn.com/dms/image/D4E03AQGw_AHYlYdsrA/profile-displayphoto-shrink_200_200/0/1682900148763?e=1689206400&v=beta&t=3ki9LhfBtNl5Eblfut-0jeFsJplRzbne9k5IEmlUtZI" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">User <%= params[:id] %></h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class='user-bio'>
    <h1>Bio</h1>
    <p class="user-bio-text">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
  </div>


  <div class="user-posts">
    <div class="post" id="1">
      <h1 class="post-heading">Post 1</h1>
      <p class="post-description">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
      <div class="comments">
        <p class="comment" id="1">
          First comment
        </p>
        <p class="comment" id="2">
          Second comment
        </p>
      </div>
    </div>
    <div class="post" id="2">
      <h1 class="post-heading">Post 2</h1>
      <p class="post-description">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
      <div class="comments">
        <p class="comment" id="1">
          First comment
        </p>
        <p class="comment" id="2">
          Second comment
        </p>
      </div>
    </div>
  </div>
  <button class="all-post-btn">See All Post</button>
</div>