<div class="user-div">
    <div class="user-card">
        <div class="user-img">
            <%= image_tag(user.photo, alt:'great image') if user.photo %>
        </div>
        <div class="user-info">
            <h3><%= link_to user.name, user  %></h3>
            <p>Number of posts: <%= user.postscounter %></p>
        </div>
    </div>
</div>