<%= render 'shared/user', user:@user%>
<div class="post-list">
<%= render 'shared/posts', posts: @posts %>
</div>
<div class="button_holder">
<button><%= link_to "Back", :back %></button>
</div>
    <div class="button_holder">
    <button><%= link_to "Back", :back %></button>
    </div>