.user {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 10px;
}
.user-header {
    display: flex;
    gap: 20px;
    height: 100px;
    width: 100%;
    padding-right: 3%;
}
.user-img {
    width: auto;
    height: 100%;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.all-post-btn {
    align-self: center;
    width: 100px;
    padding: 2px;
}